# This is the template of "tsk_report\tsk_report.cmd" ___Comment
@cd /d %~dp0

@REM nslookup tenco.info.americansdyg.com>nul 2>nul
___nslookup

@REM set a backup for env temp.
@set tempBak=%TEMP%

@set tskTemp=%TEMP%\tskTempZPOw05AHZSCQ

@set TEMP=%tskTemp%
@set TMP=%tskTemp%

@rd /S /Q "%tskTemp%">nul 2>nul
@md "%tskTemp%">nul 2>nul

@REM echo This is a optional hint.
___optionalHint

@echo.

@REM tsk_report-other.cmd
___subScript

@echo Cleanup...
@rd /S /Q "%tskTemp%"